<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
            <ul class="list-group">
            <a routerLink="sidemenu1/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i> Dashboard
            </a>
            <a [routerLink]="['sidemenu1/chart']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-bar-chart-o"></i> Charts
            </a>
            <a [routerLink]="['sidemenu1/d31']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-table"></i> D3JS
            </a>
            <a [routerLink]="['sidemenu1/d32']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-edit"></i> d3
            </a>
            <a [routerLink]="['sidemenu1/d33']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-desktop"></i> d3
            </a>
            <a [routerLink]="['sidemenu1/d34']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-desktop"></i> Simple
            </a>
            <a [routerLink]="['sidemenu1/d35']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-desktop"></i> Multi
            </a>
            <a [routerLink]="['sidemenu1/threshold']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-desktop"></i> Threshold
            </a>
            <a [routerLink]="['sidemenu1/dynamicform']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-wrench"></i> Dynamic
            </a>
            <a [routerLink]="['sidemenu1/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-wrench"></i> grid
            </a>
            <a [routerLink]="['sidemenu1/cross']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-wrench"></i> crossfilter
            </a>
        </ul>
</nav>