

<md-sidenav-layout class="demo-sidenav-layout">
    <md-sidenav #start (open)="myinput.focus()" mode="side">
        Start Side Drawer
        <br>
        <button md-button (click)="start.close()">Close</button>
        <br>
        <button md-button (click)="end.open()">Open End Side</button>
        <br>
        <button md-button
                (click)="start.mode = (start.mode == 'push' ? 'over' : (start.mode == 'over' ? 'side' : 'push'))">
            Toggle Mode
        </button>
        <div>Mode: {{start.mode}}</div>
        <br>
        <input #myinput>
    </md-sidenav>

    <md-sidenav #end align="end">
        End Side Drawer
        <br>
        <button md-button (click)="end.close()">Close</button>
    </md-sidenav>

    <div class="demo-sidenav-content">
        <h1>My Content</h1>

        <div>
            <header>Sidenav</header>
            <button md-button (click)="start.toggle()">Toggle Start Side Drawer</button>
            <button md-button (click)="end.toggle()">Toggle End Side Drawer</button>
        </div>
        <md-list>
            <md-list-item><button md-button>HELLO</button></md-list-item>
            <md-list-item><button md-raised-button class="md-primary">HELLO</button></md-list-item>
            <md-list-item><button md-fab class="md-accent">HI</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/home" [routerLinkActive]="['router-link-active']" md-button>Dashboard</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/d31" [routerLinkActive]="['router-link-active']" md-button>D3JS</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/d32" [routerLinkActive]="['router-link-active']" md-button>D3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/d33" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/d34" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/d35" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/threshold" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/dynamicform" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/grid" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
            <md-list-item><button  md-raised-button class="md-primary" routerLink="sidemenu1/cross" [routerLinkActive]="['router-link-active']" md-button>d3</button></md-list-item>
        </md-list>
</div>
</md-sidenav-layout>