<div class='container' style='font: 12px sans-serif;'>
    <div class="dc-data-count" style="float: left;">
        <h2>
            New Zealand Earthquakes
            <span>
                <span class="filter-count"></span>
                selected out of
                <span class="total-count"></span>
                records |
                <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
            </span>
        </h2>
    </div>

    <div class='row'>
        <div class='span6' id='dc-magnitude-chart'>
            <h4>
                Number of Events by Magnitude
                <span>
                    <a class="reset"
                       href="javascript:magnitudeChart.filterAll();dc.redrawAll();"
                       style="display: none;">
                        reset
                    </a>
                </span>
            </h4>
        </div>
        <div class='span6' id='dc-depth-chart'>
            <h4>
                Events by Depth (km)
                <span>
                    <a class="reset"
                       href="javascript:depthChart.filterAll();dc.redrawAll();"
                       style="display: none;">
                        reset
                    </a>
                </span>
            </h4>
        </div>
    </div>

    <div class='row'>
        <div class='span12' id='dc-time-chart'>
            <h4>
                Events per hour
                <span>
                    <a class="reset"
                       href="javascript:timeChart.filterAll();dc.redrawAll();"
                       style="display: none;">
                        reset
                    </a>
                </span>
            </h4>
        </div>
    </div>

    <div class='row'>
        <div class='span4' id='dc-dayweek-chart'>
            <h4>
                Day of the Week
                <span>
                    <a class="reset"
                       href="javascript:dayOfWeekChart.filterAll();dc.redrawAll();"
                       style="display: none;">
                        reset
                    </a>
                </span>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class='span4' id='dc-island-chart'>
            <h4>
                North or South Island
                <span>
                    <a class="reset"
                       href="javascript:islandChart.filterAll();dc.redrawAll();"
                       style="display: none;">
                        reset
                    </a>
                </span>
            </h4>
        </div>
        <div class='span4' id='blank2'>
            <h4>Blank 2</h4>
        </div>
    </div>

    <div class='row'>
        <div class='span12'>
            <table class='table table-hover' id='dc-table-graph'>
                <thead>
                    <tr class='header'>
                        <th>DTG</th>
                        <th>Lat</th>
                        <th>Long</th>
                        <th>Depth</th>
                        <th>Magnitude</th>
                        <th>Google Map</th>
                        <th>OSM Map</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
